* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #000;
  font-size: 130%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.55em;
  padding: 0 2em;
  text-rendering: optimizeLegibility;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 210%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h2 {
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h3 {
  font-size: 130%;
  margin: 1em;
  line-height: 1.4em;
}

h4 {
  font-size: 110%;
  margin-top: 2em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h5 {
  font-size: 100%;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

p {
  margin-left: 3.5em;
}

img {
    margin-left: 3.5em;
    margin-bottom: 0.5em;
    max-width: 1200px;
    width: 100%;
    height: auto;
}

table{
    margin-top: 0.5em;
    margin-left: 2.5em;
}

a         { color: #fff; text-decoration: none;}
a:hover   { color: #bbb; }
a:visited { color: #cccccc; }
h1:hover { color: #cccccc;}
h3:hover { color: #cccccc;}
blockquote {
  padding: 0.1em 1.3em;
  background: #fafafa;
  border-left: 5px #81E26D solid;
  color: #666;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  margin-bottom: 1em;
}

ul.posts span {
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  display: list-item;
}

.site {
  margin: auto;
  max-width: 34em;
  padding: 0 1em;
  color: #333;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  font-size: 180%;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

pre {
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  margin: 1em auto;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  line-height: 1em;
  padding: 0.2em 0.5em;
}

.post ul, .post ol {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 0.7em;

}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post {
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 130%;
    padding: 0 4em;
  }
  .post code {
    font-size: 85%;
  }

  pre code {
    line-height: 1.6em;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 125%;
    padding: 0 1.5em;
  }

  .post code {
    font-size: 80%;
  }

  pre code {
    font-size: 80%;
  }
}


@media screen and (max-width: 500px) {
  body {
    font-size: 120%;
    padding: 0 0.5em;
  }

  .footer {
    text-align: center;
    padding: 1em;
  }

  .contact {
    width: 100%;
  }

  .post code {
    font-size: 85%;
  }
}

@media screen and (max-width: 320px) {
  body {
    padding: 0;
  }
}